$primary:#064652;
$secondary:#EBFFEE;
$FormBg:#F8F8F8;
$font-family-sans-serif:"Montserrat", sans-serif !default;
$font-family-sans-serif:"Rubik", sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap"; 