@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";
html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 140px;
}
footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;  
}
p{
    font-family: $font-family-rubik;
    font-size: 18px;
    
}
/* Scène principale avec une image de fond */
.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../images/BigTitle.png);
        opacity: 0.9;
        background-position: center;
        background-size: 150%; /* Niveau de zoom maximum */
        background-size: cover;
        filter: brightness(0.5);
    }
    *{
        position: relative;
    }
}

/* Contenu de la scène principale */
.hero-scene-content{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Titre dans la scène principale */
.hero-scene-content h1{
    font-size: 36px; 
}

/* Section de bienvenue dans l'article */
article .welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Titre de la section de bienvenue */
article .welcome h2{
    font-size: 24px;
    font-weight: 600;
}

/* Paragraphe de la section de bienvenue */
article .welcome p{
    font-size: 22px;
    text-align: center;
    max-width: 880px;
    width: 100%;
}
 
 /* Conteneur principal de la barre de recherche */
.search-bar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; /* Empêche la rupture en ligne */
    align-items: center;
    border: solid 2px $primary;
    margin:20px 0 40px;
    padding: 0%;
}




/* Icône collée à l'input */
.input-group-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 30px;
    border-radius:0;
}

//** Couleur de fond et bordure des inputs du formulaire connexion et inscription **//
.form-input{
    height: 50px;
    border: 1px solid $primary;
    background-color: white;

}
.form-label{
    color:$primary;
}
/** brder-radius de 0 pour les inputs du formulaire de la page d'accueil */
.radius{
    border-radius: 0;
}

/* Sélecteur de date */
.date-input {
    height: 50px;
    min-width: 120px; 
    border-radius: 0;
   
}

/* Bouton de recherche collé aux autres */
.btn-modified {
    height: 50px;
    border-radius: 0;
    border: 2px solid $primary;
    min-width: 140px; /* Empêche le bouton de se dilater excessivement */
}
.img{
    opacity:0.8;
}






/*  Sur mobile : Passage en colonne de la barre de recherche  icône collée à l'input et ajustement de la taille du text*/
@media (max-width: 768px) {
    .hero-scene-content h1{
        font-size: 22px; 
    }
   
    .search-bar {
       display: flex;
       flex-direction: column;
    }
    .btn-primary {
        width: 100%;  
    }
    p{
        font-size: 16px;
    }
    article .welcome h2{
        font-size: 20px;
     
    }
    article .welcome p{
        font-size: 18px;
       
    }
   
}

